
src/main/resources/META-INF/persistence.xml


##############################
## Java
##############################
.mtj.tmp/
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.nar
hs_err_pid*
*.class

##############################
## Maven
##############################
target/

##############################
## OS X
##############################
.DS_Store

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
